
      <div class="container">
        <div class="gif">
          <img src="https://i.postimg.cc/2yrFyxKv/giphy.gif" alt="gif_ing" />
        </div>
        <div class="content">
          <h1 class="main-heading">Cette page n'existe pas</h1>
          <p>
            ...peut être revenir à la page d'accueil serait une sage décision
          </p>
          <a href="">
            <button>Revenir a l'accueil <i class="far fa-hand-point-right"></i></button>
          </a>
        </div>
      </div>
