<div class="content" role="main">
  <div *ngIf="arr.length == 0; else other_content">
    <!-- <h2 style="color: azure;">Faites une recherche et pleins de belles photos apparaitront</h2> -->
  </div>
  <form
    style="padding-left: 10%; padding-right: 10%; padding-top: 2%"
    [formGroup]="searchForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field style="width: 40%" class="" appearance="fill">
      <mat-label>Recherche par mots-clés</mat-label>
      <input
        matInput
        formControlName="keyword"
        placeholder="Your search"
        value=""
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Trier par</mat-label>
      <mat-select formControlName="sort">
        <mat-option value="relevance">Pertinence (decroissant)</mat-option>
        <mat-option value="date-posted-asc"
          >Date de Publication (croissant)</mat-option
        >
        <mat-option value="date-posted-desc"
          >Date de Publication (decroissant)</mat-option
        >
        <mat-option value="interestingness-asc"
          >Niveau d'interet (croissant)</mat-option
        >
        <mat-option value="interestingness-desc"
          >Niveau d'interet (decroissant)</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="" appearance="fill">
      <mat-label>Tags</mat-label>
      <input
        matInput
        formControlName="tags"
        placeholder="Séparez avec des virgules"
        value=""
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tag Mode</mat-label>
      <mat-select formControlName="tag_mode">
        <mat-option value="all">All</mat-option>
        <mat-option value="any">Any (default)</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="" appearance="fill">
      <input
        matInput
        formControlName="nbPhotos"
        placeholder="Nombre de photos par page (max : 500)"
      />
    </mat-form-field>

    <!--Min and Max Upload Date Filter -->
    <mat-form-field appearance="fill">
      <mat-label>Date minimum de publication</mat-label>
      <input
        matInput
        [matDatepicker]="minDate"
        formControlName="min_upload_date"
      />
      <mat-datepicker-toggle matSuffix [for]="minDate"></mat-datepicker-toggle>
      <mat-datepicker #minDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date maximum de publication</mat-label>
      <input
        matInput
        [matDatepicker]="maxDate"
        formControlName="max_upload_date"
      />
      <mat-datepicker-toggle matSuffix [for]="maxDate"></mat-datepicker-toggle>
      <mat-datepicker #maxDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>NSFW</mat-label>
      <mat-select formControlName="nsfw">
        <mat-option value="1">Sûre ( par defaut )</mat-option>
        <mat-option value="2">Modéré</mat-option>
        <mat-option value="3">Restraint</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Taille</mat-label>
      <mat-select formControlName="size">
        <mat-option value=""></mat-option>
        <mat-option value="s">75x75</mat-option>
        <mat-option value="q">150x150</mat-option>
        <mat-option value="t">100x100</mat-option>
        <mat-option value="m">240x240</mat-option>
        <mat-option value="n">320x320</mat-option>
        <mat-option value="w">400x400</mat-option>
        <mat-option value="z">640x640</mat-option>
        <mat-option value="c">800x800</mat-option>
        <mat-option value="b">1024x1024</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox class="" formControlName="fromGallery"
      >Appartient à une galerie</mat-checkbox
    >

    <button mat-stroked-button color="primary">Rechercher</button>
  </form>

  <ng-template #other_content
    >Voila {{ arr.length }} belles photos !</ng-template
  >
  <mat-slider
    *ngIf="arr.length > 0"
    class="centered"
    step="2"
    min="1"
    max="15"
    value="7"
    (input)="onInputChange($event)"
  ></mat-slider>

  <mat-button-toggle-group
    *ngIf="arr.length > 0 || (currentPage > 1 && arr.length == 0)"
    name="fontStyle"
    aria-label="Font Style"
  >
    <mat-button-toggle value="bold" (click)="this.pagePrescedente()"
      >Page Prescedente</mat-button-toggle
    >
    <mat-button-toggle value="bold" (click)="this.pageSuivante()"
      >Page Suivante</mat-button-toggle
    >
  </mat-button-toggle-group>

  <h1 *ngIf="currentPage > 1 && arr.length == 0">
    Aucune Photo sur cette page ! Revenir en arriere ?
  </h1>

  <h1 *ngIf="arr.length > 0">Numero de Page : {{ currentPage }}</h1>
  <mat-progress-bar
    style="width: 70%"
    *ngIf="this.showProgressBar"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<div class="container">
  <app-images-list [size]="this.searchForm.value.size" [images]="arr"></app-images-list>
</div>
